*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: gray;
}

h2 {
    font-family: sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 0 1px 1px black;
    text-align: center;
}

.container {
    margin: auto;
    width: fit-content;
}

.calculator {
    padding: 1rem;
    width: 20rem;
    border: 2px solid black;
    border-radius: 15px;
    background-color: lightslategray;
    box-shadow: 0 8px 0 0 black;
}

.calculator .result {
    text-align: end;
    padding: 0.5rem;
    margin: 1rem 0;
    border: 1px solid;
    border-radius: 5px;
    height: 5.4rem;
    overflow-y: auto;
    font-weight: bold;
    word-wrap: break-word;
    background-color: rgb(230, 230, 230);
    box-shadow: 0 3px 0 0 black;
}

#immediate-input {
    font-size: 2rem;
}

#expression {
    font-size: 0.9rem;
    height: 2rem;
    overflow-y: auto;
}

.calculator .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.calculator .buttons button {
    padding: 1rem;
    border: 1px solid;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 100px;
    box-shadow: 0 5px 0 0 black;
}

.calculator .buttons button:hover {
    background-color: rgb(240, 191, 101) !important;
}

.calculator .buttons button:active {
    background-color: rgb(255, 203, 107) !important;
    box-shadow: 0 2px 0 0 black;
    transform: translateY(3px);
}

.op {
    background-color: antiquewhite;
}

#clear-screen {
    grid-column: span 4;
    background-color: indianred;
}
